@{
    ViewData["Title"] = "Home Page";
}

<div class="searchbar p-3">
    <div class="container">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for place or food" aria-label="Search for place or food" aria-describedby="button-search">
            <div class="input-group-append">
                <button class="btn btn-dark" type="button" id="button-search"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>
</div>